<% if Object.const_defined? "GraphViz" and TTT_CONFIG['gui_options']['graphviz_enabled'] %>
  <% ret=query_diagram(queries) %>
  <% if ret %>
    <%# <div class="diagram"> %>
      <%=link_to(image_tag(ret,  :class => 'diagram'), image_path(ret)) %>
      <%# </div> %>
  <% else %>
    Error producing the diagram. See the error log.
  <% end %>
<% else %>
  <!-- Graphviz not installed or disabled. -->
<% end %>
