Source: zrm-innobackupex
Section: net
Priority: optional
Maintainer: Moss Gross <eng@palominodb.com>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: perl (>= 5.8.0)
Standards-Version: 3.8.4
Homepage: http://dev.palominodb.com/dist/zrm-innobackupex-0.80.2.tar.gz

Package: zrm-innobackupex
Architecture: all
Depends: ${perl:Depends}, libdbi-perl, xinetd
Description: Plugins for MySQL-ZRM that make real hotbackup possible.
